*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
#container {
    width: 700px;
    height: 500px;
    margin: 10px auto;
    background-color: #dddddd;
    padding: 5px;
    border-radius: 10px;

}
#table1, #table2, #table3 {
    width: 100%;
}
table, td {
    padding: 10px;
}
.btn{
    
    padding: 10px 10px;
    width: px;
    border-radius: 4px;
    outline: none;
    border: 1px solid black;
}
.btn:hover {
    transform: scale(.95);
    transition: 0.5s;
}
input:focus {
    width: 200px;
    transform: scale(.95);
    transition: .2s;
}
#total_power{
    width: 250px;
    height: 25px;
    padding: 5px;
    width: 270px;
    border-radius: 4px;
    outline: none;
    border: none;
    text-align: right;
}
.display {
    
    text-align: center;
}
